@model ListNewViewModel
@{
    ViewBag.Title = "Add new movie";
}

<div class="row">
    <div class="col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3">
        <div class="card mb-3">
            <div class="card-header">
                <div class="card-title">Add new entry</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-link"></i>
                            </span>
                        </div>
                        <input asp-for="Url" id="modal-url" class="form-control" placeholder="MAL link">
                    </div>
                </div>
            </div>
            <button id="modal-submit" type="button" class="btn btn-block btn-light">
                <span>Add</span>
            </button>
        </div>
    </div>
</div>