@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <div class="card-header">
                <div class="card-title">Log in</div>
            </div>
            <form asp-controller="Login" asp-action="Login" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input asp-for="Username" id="modal-username" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <input asp-for="Password" type="password" id="modal-password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                </div>
                <button id="modal-submit" type="submit" class="btn btn-block btn-light">Sign in</button>
            </form>
        </div>
    </div>
    
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <div class="card-header">
                <div class="card-title">Register</div>
            </div>
            <form asp-controller="Login" asp-action="Register" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input asp-for="Username" id="modal-username" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <input asp-for="Password" type="password" id="modal-password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                </div>
                <button id="modal-submit" type="submit" class="btn btn-block btn-light">Create account</button>
            </form>
        </div>
    </div>
</div>

