@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Night Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum molestie odio eu sem vulputate, quis tempor risus euismod.</p>
    </div>
    <div class="col-md-4">
        <h2>Aenean non efficitur velit</h2>
        <p>Sed quis tortor tempus, semper nibh sed, rhoncus velit. Pellentesque varius ante ut lectus sollicitudin, a euismod ipsum vulputate.</p>
    </div>
    <div class="col-md-4">
        <h2>Praesent porta</h2>
        <p>Morbi commodo purus in orci consectetur imperdiet. Morbi commodo purus in orci consectetur imperdiet.</p>
    </div>
</div>