@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Night</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Pretext</h2>
        <p>
            My guild hosts weekly movie nights and very sunday we get an influx of recommendations. It can get quite
            spammy and sometimes good movies get buried under new messages and go unnoticed. Plus there's no way to
            keep track of what we've watched so new members don't know what to suggest.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Vision</h2>
        <p>
            The plan was to address these issues by creating a centralized website that will help us pick the perfect 
            movie for our tastes. Members should be able to vote for what they like/don't like and see what has been 
            recommended in the past.
        </p>
    </div>
</div>