@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-12">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center text-danger">An error occurred!</h4>
                <hr>
                @if (Model.ErrorMessage != null) {
                    <p class="text-danger text-center">@Html.DisplayFor(item => item.ErrorMessage)</p>
                }
                @if (Model.ShowRequestId) {
                    <p>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                    </p>
                }
            </article>
        </div>
    </div>
</div>