@{
    ViewBag.Title = "Admin panel";
}

<div class="jumbotron">
    <h1 class="display-4">Admin panel</h1>
</div>

<div class="row">
    <div class="col-4 offset-2">
        <div class="card">
            <a asp-action="Users" class="btn btn-block btn-light">User Management</a>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <a asp-action="Submissions" class="btn btn-block btn-light">Submission Management</a>
        </div>
    </div>
</div>